# Data and Results
data/
processed_cache/
results/
output_videos/
logs/
archive/

# Exclude all .npy and .pth except sample_data and weights
*.npy
*.pth
*.pt
!sample_data/*.npy
# Only include the best model weight if specified, or exclude all to be safe
# !weights/best_model_v8.pth 
weights/*.pth

# Results and Visualizations
demo_results/
weights/visualizations/

*.log
*.txt

# Python related
__pycache__/
*.py[cod]
*$py.class

# System and IDE
.vscode/
.idea/
.DS_Store
.ipynb_checkpoints/
